
ul {
    list-style: none;
    padding: 0;
}

.phonebook {
    width: 500px;
    min-height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
}

.phonebook__inform {
    border: 1px solid black;
    
}

